@charset "utf-8";
/* CSS Document */

body, div, p, span, form, iframe, blockquote, table, td, th, input, textarea, button, label, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font: 12px/1.2 "Microsoft YaHei","Hiragino Sans GB",arial,Verdana,tahoma,"\5b8b\4f53",sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased
}

ul, ol, li, dl {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit
}

.link {
    color: #73ABC9;
    .cursor: pointer
}

em, i, dfn, cite, strong, small {
    font-style: normal;
}

fieldset, img, button, input, select, option {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* clearFix */
.clearFix {
    *zoom: 1;
}

.clearFix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

/* public.omission */
.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
    font-weight: bold;
    line-height: 200%;
}

.tr {
    text-align: right;
}

.fb {
    font-weight: bold;
}

.f12 {
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: 500
}

h1 {
    font-size: 26px
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}


.listop {
    padding-top: 15px;
}

.lh160 {
    line-height: 160%;
}

.lh190 {
    line-height: 190%;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt72 {
    padding-top: 72px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr10 {
    padding-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb3 {
    margin-bottom: 3px;
}

.cred {
    color: #cc000d;
}

.w620 {
    width: 620px;
}

.bs {
    box-shadow: 0 0 7px rgba(30, 30, 30, 0.6);
}
.no-bottom-border {
    border-bottom: 0!important;
}


